$width: 100px;
$height: 100px;

.div1 {
  width: $width;
  height: $height;
  background-color: red;
  .div1-inner {
    width: 50%;
    height: 50%;
    background-color: black;
  }
  &.div1-other {
    background-color: yellow;
  }
}

.div2 {
  width: $width;
  height: $height;
  background-color: blue;
}